<div class="comment">
  <div class="comment-section">
    <%= link_to comment.user.email, "#" %>
  </div>

  <p><%= comment.text %></p>

  <% if current_user == comment.user %>
    <div class="comment-links">
      <%= link_to t('edit'), edit_comment_path(comment) %>
      <%= link_to t('delete'), comment_path(comment), method: :delete, data: { confirm: t('are_you_sure?') } %>
    </div>
  <% end %>
</div>
