<%= simple_form_for [@book, comment], remote: true do |f| %>
  <%= f.input :text %>
  <%= f.button :submit %>
  <% unless comment.new_record? %>
    <a class="btn btn-default" data-cancel-comment-editing>cancel</a>
  <% end %>
<% end %>
