<% if params[:category] %>
  <h1 class="category-header"><%= params[:category] %></h1>
<% end %>

<% if @books.any? %>
  <div class="row">
    <%= render @books %>
    <div class="home-page-pagination text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= paginate @books %>
    </div>
  </div>
<% else %>
  <h2>There're no books</h2>
<% end %>
