<% if params[:category] %>
  <h1 class="current-category"><%= params[:category] %></h1>
<% end %>

<% if @books.any? %>
  <div class="row">
    <%= render @books %>
  </div>
<% else %>
  <h1>There're no books in this category</h1>
<% end %>
