<% if params[:category] %>
  <h1 class="category-header"><%= params[:category] %></h1>
<% end %>

<% if @books.any? %>
  <div class="row">
    <%= render @books %>
  </div>
<% else %>
  <h2>There're no books in this category</h2>
<% end %>
