/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_select/bootstrap-select
 *= require bootstrap_select/variables
 *= require_tree .
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500);
 @import "bootstrap-sprockets";
 @import "bootstrap";



/* General styles */

html {
  position: relative;
  min-height: 100%;
}

body {
	background-color: #f5f5f5;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-bottom: 100px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
	font-weight: 300;
}

p, a {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

footer {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

footer .container { text-align: center; }

footer img { margin: 10px 0; }

.social-link:hover, .social-link:focus { text-decoration: none; }

.footer-link-section { margin: 20px 0; }

@media all and (max-width: 767px) {
  body { margin-bottom: 160px; }

  footer img { margin: 10px 5px; }

  .footer-link-section {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > li > a:hover, //1
.pagination > li > a:hover, //2
.pagination > li > span:hover, //3
.dropdown-menu > li > a:hover { //4
  background-color: #eeeeee;
  color: #333;
}

.navbar-default .navbar-nav > li > a, //1
.pagination > li > a, //2
.pagination > li > span, //3
.dropdown-menu > li > a, //4
footer a,
footer a:hover,
footer a:focus {
  color: #333;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #337ab7;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.pagination > li > a:focus,
.pagination > li > span:focus,
.dropdown-menu > li > a:focus {
  color: #333 !important;
  background-color: #fff;
}

.navbar {
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 40px;
}

.home-page-pagination .pagination{
  margin: 10px 0 -5px 0;
}

.category-picker {
  margin-bottom: 40px;
  text-align: center;
  .bootstrap-select {
    width: 290px !important;
  }
}



/* Other */

.btn-section {
  width: 100%;
  text-align: center;
  margin: 15px 0
}

.btn-custom {
  outline: none !important;
}

#flash-error, #flash-alert {
  color: #a94442;
}

#flash-notice {
  color: #5cb85c;
}

.flash {
  padding: 15px;
  margin-bottom: 5px;
  margin-top: -35px;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
}

.admin-container {
  margin-top: 40px;
}
