// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 3px 1px #ccc;
  padding: 15px;
}

@mixin book-image {
  margin: auto;
  padding: 0;
}

.book {
	height: 295px;
	width: 200px;
	@include background-tile;
  @include book-image;
}

.book-show {
	height: 400px;
	width: 265px;
  @include background-tile;
  @include book-image;
}

.block {
  @include background-tile;
}

@media all and (max-width: 517px) {
	.super-small { width: 100% !important; }
}

.book-image-section {
	text-align: center;
}

.book-data-section, .book-image-section {
	margin-bottom: 30px;
}

.book-title {
	max-width: 353px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
	margin: 0 auto;
  margin-top: 10px;
}

.added-by {
	text-align: right;
	margin-bottom: 0;
}

.categories {
	margin-bottom: 5px;
	a {
		font-size: 16px;
		border: 1px solid #337ab7;
		padding: 3px 5px;
		border-radius: 5px;
		margin-top: 5px;
		display: inline-block;
	}
	a:hover, a:focus {
		text-decoration: none;
		color: #fff;
		background-color: #337ab7;
	}
}

#book_category_ids {
	height: 200px;
}
