// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
  width:  250px;
  height: 350px;
}

.book-show {
  width:  325px;
  height: 475px;
}
