<div class="comment">
  <div class="comment-section">
    <%= link_to review.user.email, "#" %>
  </div>

  <p><%= review.comment %></p>

  <% if current_user == review.user %>
    <div class="comment-links">
      <%= link_to 'Edit', edit_review_path(review) %>
      <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
